<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="rp_lidar_mount" 
               params="link_prefix:=''
                       joint_prefix:=''">


  <!-- Mount for RP LiDAR -->
  <link name="${link_prefix}rp_lidar_mount">
    <visual>
    <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/><!-- ${-pi/2} -->
      <geometry>
        <mesh filename="package://leorover_description/models/model_extensions/rp_lidar_mount.dae"/>
      </geometry>
    </visual>
    <inertial>
      <origin xyz="0.03 0.0 0.008"/>
      <mass value="0.1"/>
      <inertia
        ixx="0.00027" ixy="0.0" ixz="0.0"
        iyy="0.00012"  iyz="0.0"
        izz="0.00012"/>
    </inertial>
      <collision>
        <origin xyz="0.03 0.0 0.008"/>
        <geometry>
          <box size="0.12 0.18 0.016"/>
          <!-- <cylinder length="0.2" radius="0.025"/> -->
        </geometry>
      </collision>
  </link>

  <joint name="${joint_prefix}rp_lidar_mount_joint" type="fixed">
    <origin xyz="0.0775 0.0 0.0" rpy="0 0 0"/>
    <parent link="${link_prefix}base_link"/>
    <child link="${link_prefix}rp_lidar_mount"/>
  </joint>

  <!-- RP LiDAR -->
  <link name="${link_prefix}rp_lidar">
    <visual>
    <origin xyz="0.0 0.0 0.0" rpy="0 0 ${-pi/2}"/><!-- ${-pi/2} -->
      <geometry>
        <mesh filename="package://leorover_description/models/model_extensions/rp_lidar.dae"/>
      </geometry>
    </visual>
    <inertial>
      <origin xyz="0.03 0.0 0.008"/>
      <mass value="0.1"/>
      <inertia
        ixx="0.00027" ixy="0.0" ixz="0.0"
        iyy="0.00012"  iyz="0.0"
        izz="0.00012"/>
    </inertial>
    <collision>
      <origin xyz="0.0 0.0 0.02"/>
      <geometry>
        <cylinder length="0.04" radius="0.04"/>
      </geometry>
    </collision>
  </link>

  <joint name="${joint_prefix}rp_lidar_joint" type="fixed">
    <origin xyz="0.05 0.0 0.015" rpy="0 0 0"/>
    <parent link="${link_prefix}rp_lidar_mount"/>
    <child link="${link_prefix}rp_lidar"/>
  </joint>

  <link name="${link_prefix}rp_lidar_optical_frame"/>
  
  <joint name="${joint_prefix}rp_lidar_optical_frame_joint" type="fixed">
    <origin xyz="0.0 0.0 0.03" rpy="0 0 ${pi}"/>
    <parent link="${link_prefix}rp_lidar"/>
    <child link="${link_prefix}rp_lidar_optical_frame"/>
  </joint>

  </xacro:macro>
</robot>
