<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       name="leo_sim">

  <xacro:arg name="fixed" default="false"/>
  <xacro:arg name="robot_ns" default=""/>

  <xacro:include filename="$(find leorover_description)/urdf/macros.xacro"/>
  <!-- <xacro:include filename="$(find leorover_description)/urdf/mast.xacro"/> -->

  <xacro:leo_sim robot_ns="$(arg robot_ns)"
                 fixed="$(arg fixed)"/>

</robot>