<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"
       name="leo">

  <xacro:include filename="$(find leorover_description)/urdf/macros.xacro"/>
  <xacro:include filename="$(find leorover_description)/urdf/mast.xacro"/>
  <xacro:include filename="$(find leorover_description)/urdf/xavier_mount.xacro"/>
  <xacro:include filename="$(find leorover_description)/urdf/rp_lidar_mount.xacro"/>

  <xacro:leo/>
  <xacro:leo_mast/>
  <xacro:xavier_mount/>
  <xacro:rp_lidar_mount/>

  <!-- <gazebo>
    <plugin filename="libignition-gazebo-joint-state-publisher-system.so" name="ignition::gazebo::systems::JointStatePublisher"/>
  </gazebo> -->

</robot>