<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="leo_mast" 
               params="default_mikrotik_antenna:=true
                       d455_camera:=true
                       link_prefix:=''
                       joint_prefix:=''">


  <!-- 2-segment camera mast with mount for camera -->
  <link name="${link_prefix}mast_link">
    <visual>
    <origin xyz="0.006 0.0 0.0" rpy="0 0 ${-pi/2}"/>
      <geometry>
        <mesh filename="package://leorover_description/models/model_extensions/long_camera_mast.dae"/>
      </geometry>
    </visual>
    <inertial>
      <origin xyz="0.0 0.0 0.1"/>
      <mass value="0.25"/>
      <inertia
        ixx="0.002956" ixy="-0.000001489324" ixz="-0.000008103407"
        iyy="0.02924"  iyz="0.00007112"
        izz="0.02832"/>
    </inertial>
    <collision>
      <origin xyz="0.0 0.0 0.1"/>
      <geometry>
        <cylinder length="0.2" radius="0.025"/>
      </geometry>
    </collision>
  </link>

  <joint name="mast_joint" type="fixed">
    <parent link="${link_prefix}base_link"/>
    <child link="${link_prefix}mast_link"/>
    <origin xyz="${0.09-0.065} 0.0 -0.001" rpy="0 0 0"/>
  </joint>

  <link name="${link_prefix}camera_mount_link">
    <visual>
      <origin xyz="-0.001 0.0 0.0" rpy="0 0 ${pi/2}"/>
      <geometry>
        <mesh filename="package://leorover_description/models/model_extensions/camera_mount_fixed_angle_20_degrees_v1.dae"/>
      </geometry>
    </visual>
    <inertial>
      <mass value="0.05"/>
      <inertia
        ixx="0.01042" ixy="0.001177" ixz="-0.0008871"
        iyy="0.01045" iyz="0.0002226"
        izz="0.01817"/>
    </inertial>
  </link>

  <joint name="camera_mount_joint" type="fixed">
    <parent link="${link_prefix}mast_link"/>
    <child link="${link_prefix}camera_mount_link"/>
    <origin xyz="0.0025 0.0 0.17" rpy="0 0 0"/>
  </joint>

  <!-- Mikrotik Groove 52 AC Router (Mesh Network Antenna) -->
  <xacro:if value="${default_mikrotik_antenna}">
    <link name="${link_prefix}mikrotik_antenna_link">
      <inertial>
        <mass value="0.5"/>
        <inertia
          ixx="0.002956" ixy="-0.000001489324" ixz="-0.000008103407"
          iyy="0.02924"  iyz="0.00007112"
          izz="0.02832"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 ${pi/2}"/>
        <geometry>
          <mesh filename="package://leorover_description/models/model_extensions/mikrotik_antenna.dae"/>
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0.08"/>
        <geometry>
          <cylinder radius="0.025" length="0.16"/>
        </geometry>
      </collision>
      <collision>
        <origin xyz="0.0 0.0 0.23"/>
        <geometry>
          <cylinder radius="0.01" length="0.3"/>
        </geometry>
      </collision>
    </link>

    <joint name="${link_prefix}mikrotik_antenna_joint" type="fixed">
      <origin xyz="-0.03 0.03 0.03" rpy="0 0 ${-pi/4}"/>
      <parent link="${link_prefix}mast_link"/>
      <child link="${link_prefix}mikrotik_antenna_link"/>
    </joint>
  </xacro:if>

  <xacro:if value="${d455_camera}">

    <link name="${link_prefix}realsense_link"/>

    <xacro:include filename="$(find leorover_description)/urdf/realsense_d455/_d455.urdf.xacro"/>

    
    <xacro:sensor_d455 name="${link_prefix}realsense_camera" parent="${link_prefix}realsense_link">
      <origin xyz="-0.01 0.0 -0.002" rpy="0 0 0"/>
    </xacro:sensor_d455>

    <joint name="${link_prefix}realsense_joint" type="fixed">
      <origin xyz="0.044 0 0.0635" rpy="0 0.349 0"/>
      <parent link="${link_prefix}camera_mount_link"/>
      <child link="${link_prefix}realsense_link"/>
    </joint>
<!-- 
    <link name="/realsense_camera_leo02"/>
    <joint name="${link_prefix}realsense_optical_joint" type="fixed">
      <origin xyz="0.044 0 0.0635" rpy="0 0.349 0"/>
      <parent link="${link_prefix}camera_mount_link"/>
      <child link="/realsense_camera_leo02"/>
    </joint>
-->

  </xacro:if>


  </xacro:macro>
</robot>